{% extends 'base.html.twig' %}
{% block title %}{% trans %}List news{% endtrans %}{% endblock %}
{% block navbar %}
    <li><p class="navbar-btn"><a class="btn btn-success" href="{{ url('Publish') }}">{% trans %}Public news{% endtrans %}</a></p></li>{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for article in pagination %}
                <div id="wrapper" class="col-md-4 col-lg-4 col-sm-8 col-xs-12">
                    <h2 class="text-center">{{ article.title }}</h2>
                    <p class="text-center">{{ article.text }}</p>
                    <p class="text-center"><a class="btn btn-primary" href="{{ path('MoreInfo', {'id': article.id}) }}">{% trans %}Learn more{% endtrans %}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}